.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.695);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: visible; */
  z-index: 5;
}
